.controlers__navigation {
  @extend %inline-center;
  gap: 16px;
}

.controlers__navigation__buttons {
  font-size: 24px;
  display: inherit;
  vertical-align: middle;
  color: inherit;

  &:nth-child(2) {
    font-size: 36px;
    @include down($mobile) {
      font-size: 24px;
    }
  }

  &:nth-child(odd) {
    @include down($mobile) {
      display: none;
    }
  }
}
