.videoplayer {
	position: relative;
	display: grid;
	background-color: #000;
	color: #fff;
}

.videoplayer__video {
  height: 100%;
  width: 100%;
  display: inline-block;
}

.videoplayer__controls {
  position: absolute;
  left: 50%;
  //bottom: 32px;
  transform: translatex(-50%);

   @extend .-visible;

  padding: 16px;

  display: flex;
  flex-direction: column;
  gap: 16px;

  border-radius: $radius;

  max-width: 490px;
  width: 490px;

  max-height: 98px;

  @include blur($radius);

  @include down($mobile) {
    flex-direction: row;
    width: 90%;
    padding: 2px 16px;
  }
}

//State

.-hidden {
   opacity: 0!important;
   visibility: hidden!important;
   bottom: 0px!important;
   transition: $ease;
}

.-visible {
   opacity: 1;
   visibility: visible;
   bottom: 32px;
   transition: $ease;
}
